<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Sportires\SyncProducts\Api\SyncpriceManagementInterface" type="Sportires\SyncProducts\Model\SyncpriceManagement"/>
	<preference for="Sportires\SyncProducts\Api\SyncstockManagementInterface" type="Sportires\SyncProducts\Model\SyncstockManagement"/>
</config>
