<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement(EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category  Ced
 * @package   Ced_WalmartMx
 * @author    CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright Copyright CEDCOMMERCE(http://cedcommerce.com/)
 * @license   http://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<walmartmx_config>
			<walmartmx_setting>
				<version>1.0</version>
			</walmartmx_setting>
			<walmartmx_product>
				<inventory_settings>
					<fullfillment_latency>0</fullfillment_latency>
					<advanced_threshold_status>0</advanced_threshold_status>
				</inventory_settings>
			</walmartmx_product>
			<walmartmx_order>
				<order_id_prefix>WALMARTMX-</order_id_prefix>
			</walmartmx_order>
		</walmartmx_config>
		<carriers>
			<shipbywalmartmx>
				<active>1</active>
				<sallowspecific>0</sallowspecific>
				<name>WalmartMx Shipping Method(Default)</name>
				<title>WalmartMx Shipping Method</title>
				<model>Ced\WalmartMx\Model\Carrier\WalmartMx</model>
			</shipbywalmartmx>
		</carriers> 
		<payment>
			<paybywalmartmx>
				<active>1</active>
				<model>Ced\WalmartMx\Model\Payment\WalmartMx</model>
				<order_status>Processing</order_status>
				<title>WalmartMx Payment Method(Default)</title>
				<payment_action>sale</payment_action>
				<allowspecific>0</allowspecific>
			</paybywalmartmx>
    </payment>
  </default> 
</config>