<?xml version="1.0" encoding="UTF-8"?>
<!-- /**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_StorePickup
 * @author      CedCommerce Core Team <connect@cedcommerce.com >
 * @copyright   Copyright CEDCOMMERCE (https://cedcommerce.com/)
 * @license      https://cedcommerce.com/license-agreement.txt
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="storemethod" instance="Ced\StorePickup\Observer\Filterpaymentmethod" shared="false" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="store_pickup_date" instance="Ced\StorePickup\Observer\SaveStoreDateToOrderObserver"/>
    </event>
</config>
